<mat-card class="example-card">
  <mat-card-header class="center">
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>تاریخ آخرین قاعدگی</mat-card-title>
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>تاریخ انتخاب کنید</mat-label>
      <input matInput [matDatepicker]="picker" disabled (dateInput)="addEvent($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker [dateClass]="dateClass" disabled="false" #picker></mat-datepicker>
    </mat-form-field>
    <mat-card-subtitle dir="rtl">{{events}}</mat-card-subtitle>
    <br/>
    <mat-card-title dir="rtl">سن حاملگی :</mat-card-title>
    {{hdate}}
  </mat-card-content>
</mat-card>