<mat-card class="example-card">
  <mat-card-header class="center">
    <!-- <div mat-card-avatar class="example-header-image"></div> -->
    <mat-card-title>تاریخ آخرین قاعدگی</mat-card-title>
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
  <mat-card-content>
    <mat-form-field class="example-full-width" appearance="fill">
      <!-- <mat-label>Choose an option</mat-label>
        <mat-select class="day-pick">
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2 (disabled)</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
        <mat-select class="day-pick">
          <mat-option value="option11">Option 1</mat-option>
          <mat-option value="option22">Option 2 (disabled)</mat-option>
          <mat-option value="option33">Option 3</mat-option>
        </mat-select>
        <mat-select class="day-pick">
          <mat-option value="option111">Option 1</mat-option>
          <mat-option value="option222">Option 2 (disabled)</mat-option>
          <mat-option value="option333">Option 3</mat-option>
        </mat-select> -->
      <mat-label>تاریخ انتخاب کنید</mat-label>
      <input matInput [matDatepicker]="picker" disabled (dateInput)="addEvent($event)">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker [dateClass]="dateClass" disabled="false" #picker></mat-datepicker>
    </mat-form-field>
    <mat-card-subtitle>{{events}}</mat-card-subtitle>
    <br />
    <mat-card-title>سن حاملگی :</mat-card-title>
    <br />
    <mat-card-title>{{hdate}}</mat-card-title>
    <br />
    <br />
    <mat-card-title>تاریخ زایمان :</mat-card-title>
    <br />
    <mat-card-title>{{edate}}</mat-card-title>
    <br />
    <br />
    <mat-card-subtitle>توجه: این محاسبات در صورت منظم بودن قاعدگی ها دارای ارزش هستند. البته ممکن است تا یک هفته خطا در
      محاسبات ایجاد شود.</mat-card-subtitle>
  </mat-card-content>
</mat-card>