.example-card {
  max-width: 400px;
  font-family: Samim;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

:host ::ng-deep .mat-card-header-text {
  margin: 0 auto;
}

:host ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
  font-family: 'Samim';
  font-size: large;
  margin-right: 20px;
}

.example-custom-date-class {
  background: orange;
  border-radius: 100%;
}

.example-full-width {
  width: 100% !important;
  direction: ltr;
}

.three-column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.day-pick {
  width: 100%;
  height: 50px;
  border: 1px solid #cac8c8;
  border-radius: 5px;
  padding: 0 10px;
  color: var(--black);
  text-align: right;
  transition: all .3s;
}
