/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  font-family: Samim;
  src: url(assets/fonts/Samim.woff)
}

@font-face {
  font-family: Samim-Bold;
  src: url(assets/fonts/Samim-Bold.woff)
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Samim !important;
  padding: 10px;
}
